<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537337100041-tsenqhkl748c7pmrh9evvi7js0gh591b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537337100041-tsenqhkl748c7pmrh9evvi7js0gh591b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>537337100041-anqou50b4ujto900ge7d02an27457hbh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFnjNHvkUb8r1vZp4KX7pMumlbmi7WsmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>537337100041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.d7brandstore.customer</string>
	<key>PROJECT_ID</key>
	<string>d7brandstore</string>
	<key>STORAGE_BUCKET</key>
	<string>d7brandstore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537337100041:ios:d52f284eb110cc6545c5d8</string>
	<key>DATABASE_URL</key>
	<string>https://d7brandstore-default-rtdb.firebaseio.com</string>
</dict>
</plist>